/* задал ширину и высоту таблице */
table{
	width: 500px;
	height: 300px;
}
/* установил ячейки жирными и по цетру */
td {
	font-weight: bold;
	text-align: center;
}
/* уставил ячейки таблицы нежирными */
th{
	font-weight: normal;
}
/* установил абзацам курсив */
/* h2 {
	font-style: italic;
} */
/* установил заголовку аш1 размер шрифта 50px и выравнивание по центру */
h1 {
	font-size: 50px;
	text-align: center;
}
/* установил заголовку ш2 размер шрифта 40рх и отменил жирность */
h2 {
	font-size: 40px;
	font-weight: normal;
}
/* абзацам установил размен шрифта 30рх */
p{
	font-size: 30px;
}
/* установил тип шрифта */
p {
	font-family:Courier New;
}

/* установил видимое расстояние между строками текста 15рх для этого я сделал следующее выставил значение line-height 45px и font-size 30 (размер шрифта) и сделал вычесление 45-30=15px это и будет видимый белый промежуток между абзацами  */
p{
	line-height: 45px;
	font-size: 30px;
	
}

/* установил видимое расстрояние между строками текста 15px для этого я сделал следующее- выставил значение font-size 30px и line-height 1.5 и сделал деление 30/2,0=15px и это будет видимый белый промежуток между абзацами*/
.shrift {
	font-size: 30px;
	line-height: 2.0;
}